<% if user_signed_in? %>
<div class="container">
  <h1 class="title">Game console rental</h1>
  <div class="banner"></div>
  <br>
    <div style="text-align:center">
      <p class="description">
        Rent a <strong>new generation console</strong> for a day, a week, or a month. And get the latest games !
      <br>
        Do not hesitate to contact us for advice at 01 74 50 03 51.
      </p>
    </div>
    <h2 class="title"> Our available game consoles </h2>
      <div class="search-bar">
        <%= form_with url: consoles_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a console"
          %>
          <%= submit_tag "Search", class: "btn-purple" %>
        <% end %>
      </div>

    <div class="cards">
    <% @consoles.each do |console| %>
      <div class="card">
        <% if console.name == "PS2" %>
          <img src="https://wallpaperaccess.com/full/1389554.jpg" alt="">
        <% elsif console.name == "Nintendo DS Lite" %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Nintendo-ds-lite-black.jpg/1280px-Nintendo-ds-lite-black.jpg" alt="">
        <% elsif console.name == "XBOX" %>
          <img src="https://images.unsplash.com/photo-1621259182978-fbf93132d53d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8eGJveHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
        <% elsif console.name == "PS5" %>
          <img src="https://www.shutterstock.com/shutterstock/videos/1066408852/thumb/12.jpg?ip=x480" alt="">
        <% elsif console.name == "PS3" %>
          <img src="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2014/08/21/1331673228513_2/playstation-console-jeu-video" alt="">
        <% elsif console.name == "Switch" %>
          <img src="https://wallpapercave.com/wp/wp2241800.png" alt="">
        <% elsif console.name == "Gameboy" %>
          <img src="https://thumbs.dreamstime.com/b/nintendo-gameboy-et-jeux-classiques-114898364.jpg" alt="">
        <% elsif console.name == "Game cube" %>
          <img src="https://images7.alphacoders.com/380/380296.jpg" alt="">
        <% elsif console.name == "WII" %>
          <img src="https://wallpapercave.com/wp/wp7323087.jpg" alt="">
        <% elsif console.name == "WII" %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Psp-1000.jpg" alt="">
        <% else %>
          <img src="https://source.unsplash.com/random" alt="">
        <% end %>
        <h4><%= console.name %></h4>
        <p><%= console.description %></p>
        <div class="button">
          <%= link_to "see this console", console_path(console) %>
        </div>
      </div>
    <% end %>
    </div>


    <br>
    <button class="button-20" role="button"><%= link_to " Add a new console", new_console_path%></button>
    <br>

    <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <% end %>
</div>
