<% if user_signed_in? %>
<div class="container">
  <h1 class="title">Game consol rental</h1>
  <div class="banner"></div>

    <div style="text-align:center">
      <p class="description">
        Rent a <strong>new generation console</strong> for a day, a week, or a month. And get the latest games!
        Do not hesitate to contact us for advice at 01 74 50 03 51.
      </p>
    </div>
    <h2 class="title"> Our available game consoles </h2>

    <div class="cards">
    <% @consoles.each do |console| %>
      <div class="card">
        <img src="https://source.unsplash.com/random" alt="">
        <h4><%= console.name %></h4>
        <p><%= console.description %></p>
        <div class="button">
          <%= link_to "see this console", console_path(console) %>
        </div>
      </div>
    <% end %>
    </div>



    <br>
    <center>
    <button class="button-20" role="button"><%= link_to " Add a new console", new_console_path%></button>
    </center>
    <br>

    <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <% end %>
</div>
