<h2><%= @console.name %></h2>
<p><%= @console.year %></p>
<p><%= @console.description %></p>

<br> <%= link_to 'Delete', console_path(@console),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<br> <%= link_to 'Edit', edit_console_path %>
<br> <%= link_to 'Home', consoles_path %>
<br> <%= link_to 'Book it', new_console_booking_path(@console) %>
