<h2><%= @console.name %></h2>
<div class="cards">
  <div class="card">
    <p><strong> This console is from: </strong><%=@console.year %></p>
  </div>
  <div class="card">
    <p><strong>Learn more about this console: </strong><%=@console.description %></p>
  </div>
  <div class="card">
    <p><strong>This console is located at: </strong><%= @console.address %></p>
  </div>
    <div class="card">
    <p><strong>This console is: </strong><%= @console.price_per_day %><strong> $ a day</strong></p>
  </div>
</div>

<div class="flexbox">
  <br> <%= link_to 'Delete', console_path(@console),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <br> <%= link_to 'Edit', edit_console_path %>
  <br> <%= link_to 'Book it', new_console_booking_path(@console) %>
</div>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @console.reviews.each do |review| %>
    <li class="list-group-item">
    <%= review.content %></li>
    <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</ul>
<br>

<%= simple_form_for [@console, @review] do |f| %>
<%= f.input :rating %>
<%= f.input :content %>
<%= f.submit %>
<% end %>
