<br>
<h1 class="title">All my bookings</h1>
<div class="container">
  <div class="cards">
    <% @my_bookings.each do |booking| %>
      <div class="card">
        <h3>#<%= @value += 1 %> - <%= booking.console.name %></h3>
        <ul>
          <li><%= booking.start_date %> start</li>
          <li><%= booking.end_date %> end</li>
        </ul>
        <p><%= booking.console.description %></p>
        <div class="button">
          <%= link_to "See this booking", booking_path(booking) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
